@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --torquise: #2CD4C9;
    --gray: #6E7076;
}

html, body{
    height: 100%;
    background: white;
}

button{
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color-picker{
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 90%;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }
  
input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}


.settings label{
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    font-weight: 700;
}

.menu{
    margin-top: 0.5rem;
    width: 100%;
    background: var(--torquise);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 6px #45A29E;
    position: relative;
}

.menu:hover{
    box-shadow: 0 8px #45A29E;
    top: -2px;
}

#grid-slider{
    margin: 1rem auto;
}

.drawing-board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 1px;
}

.drawing-boxes{
    background: white;
    border: var(--gray) solid 1px;
}

