@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --torquise: #2CD4C9;
    --gray: #6E7076;
}

html, body{
    height: 100%;
    background: white;
}

label{
    text-align: center;
}

button{
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.settings{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color-picker{
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 90%;
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }
  
input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.settings label{
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    font-weight: 700;
}

.menu{
    margin: 0.5rem auto;
    width: 100%;
    background: var(--torquise);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 6px #45A29E;
    position: relative;
    transition: all 0.2s ease-out;
}

.menu:hover{
    box-shadow: 0 8px #45A29E;
    top: -2px;
}

.selected{  
    color: white;
    background: #00292A;
    box-shadow: 0 6px #ffffff;
}

#grid-slider{
    margin: 1rem auto;
}

.drawing-board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-auto-rows: 1fr;
    border: black solid 1px;
}


.with-grid{
    border: var(--gray) solid 1px;
}

@media screen and (max-width: 750px){

    html{
        width: 100%;
        height: auto;
    }

    .container{
        flex-direction: column-reverse;
    }

    #color-picker{
        height: 50px;
        width: 50px;
    }

    .settings{
        margin: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .settings label{
        font-size: 12px;
    }

    .menu-container{
        grid-column: 1 / -1;
    }


    .menu{
        font-size: 12px;
        padding: 0.5rem;
    }

    #clear{
        grid-column: 1 / -1;
    }

    .drawing-board{
        height: 300px;
        width: 300px;
    }


}

@media screen and (max-width: 300px)
{
    .drawing-board{
        height: 250px;
        width: 250px;
    }
}
